/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '
Makcasa', 'Makcasa;
}

body {
<<<<<<< HEAD
    background-color: #b3dadf;
    color: #3a484d;
=======
    background-color: #82cde4;
    color: #2c6a7c;
>>>>>>> 04b28cfcc727f331a03c34245d1dac8e3ebf65e6
    line-height: 1.6;
}

/* Header */
header {
=======
    background-color: #91c6d4;
    color: #white;
>>>>>>> 04b28cfcc727f331a03c34245d1dac8e3ebf65e6
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #37b9ca;
}

/* Main sections */
main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #3a9aa7;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
}

button {
    padding: 10px 15px;
    background-color: #4a5e61;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4a5e61;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #4a5e61;
    color: white;
}